@media (max-width: 320px) {
    .line2 {
      font-family: 'Tangerine', serif;
      font-size: 2rem !important;
      margin-top: -2rem;
    }

    .titulo-sm {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .descripcion-sm {
      margin-top: 6rem;
    }

    .line2-sm {
      font-size: 2rem !important;
    }

    .text-dorado-mod{
      font-size: 2rem !important;
    }

    .imagen-ms{
      width: 80%!important;
      margin-left: 10%!important;
    }

    .servicios-md{
      margin-top: -23rem;
    }

    .me-4{
      font-size: 48px!important;
    }

    .llamado-accion-sm {
      height: 6rem!important;
      background-color: #bf8f61;
      text-align: center;
    }

    .prev-sm{
      margin-top: -20rem;
    }

    .quienes-sm{
      margin-top: 3rem;
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .line2 {
      font-family: 'Tangerine', serif;
      font-size: 2rem !important;
      margin-top: -2rem;
    }

    .titulo-sm {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .descripcion-sm {
      margin-top: 6rem;
    }

    .line2-sm {
      font-size: 2rem !important;
    }

    .text-dorado-mod{
      font-size: 2rem !important;
    }

    .imagen-ms{
      width: 80%!important;
      margin-left: 10%!important;
    }

    .servicios-md{
      margin-top: -23rem;
    }

    .me-4{
      font-size: 48px!important;
    }

    .llamado-accion-sm {
      height: 6rem;
      background-color: #bf8f61;
      text-align: center;
    }

    .prev-sm{
      margin-top: -20rem;
    }

    .quienes-sm{
      margin-top: 3rem;
    }

    .mtt-sm{
        margin-top: 2rem!important;
    }
  }

  .bg-dorado {
    background-color: #bf8f61 !important;
  }

  .text-centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .line1 {
    font-weight: 900;
    font-size: 3rem;
    color: #bf8f61;
  }

  .line2 {
    font-family: 'Tangerine', serif;
    font-size: 4rem;
    margin-top: -2rem;
  }

  .whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
  }

  .whatsapp-icon {
    margin-top: 13px;
  }

  .btn-dorado {
    color: white;
    background-color: #bf8f61 !important;
    border: 0px solid !important;
  }

  .btn-dorado:hover {
    color: white;
    background-color: #562b05 !important;
    border: 0px solid !important;
  }

  .llamado-accion {
    height: 10rem;
    background-color: #bf8f61;
    text-align: center;
  }

  .header{
    height: 10rem;
    background-color: #bf8f61;
    text-align: center;
    margin-top: 2rem;
  }

  .text-dorado-mod {
    color: #bf8f61;
    font-family: 'Tangerine', serif;
    font-size: 4rem
  }
